body {
  text-align: center;
}

#logo {
  text-decoration: none;
  color: #000;
}

#logo:visited {
  text-decoration: none;
  color: #000;
}

.hidden {
  display: hidden;
}

#favorites-button {
  margin-bottom: 10px;
}

#movie-list {
  list-style-type: none;
  padding: 0;
}

#movie-list li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  max-height: 530px;
  opacity: .5
}

#movie-list li:hover {
  opacity: 1;
}

#movie-list li img:hover {
  box-shadow: 0 5px 5px #888888
}

#movie-container {
  max-width: 960px;
  margin: 0 auto;
}

.favorite-button {
  display: block;
  margin: 0 auto;
}